
<!--This is where the basket demo will go.
Let's construct a skeleton first.
We will style it once we know that it works and try to create more than one.
We will need to do an onInit that gets all the baskets.
But first we need to delete one of the 4 baskets since we only want 3 maximum.-->

<!--Should we make a new db instance and disable the old one?
might try it. maybe we will do that down the line.-->

<!--Let's create the structure to support 3 different baskets.-->
<!--Plan of action: Unordered list, then size it with a style tag?-->
<!--Try it with a basket first and then expand on it. a little at a time.-->

<!--Might wrap this whole thing up in an Ngcontainer. Need to see what it
and the NgTemplate do first. You need one if you have an ngif inside an ngfor.
The search component on whos in provides an example of a container,
ngif with cases in the if statement and maybe ngswitch.-->

<!--Does an ngtemplate act as a frame and draw a new set of boundary lines in which to render html elements? its possible.
Sort of. You can call it like a variable elsewhere within the DOM. It won't be displayed unless we explicitly call it.-->

<!--FIXME: add something that cues the user into being able to click on and interact with the baskets.-->

<!--I think we need to justmake the whole table ngfor. rather than calling it every time. See if it works. it does.-->
<!--we will need to add event binding / collapsible templates going forward. That ought to work.-->
<table layout="row" layout-fill layout-align="center center"> <!--not centered. not sure why. deal with it later.-->
    <tbody >
        <tr> <!--You needed to iterate the ngFor through the columns each time. It works now.-->
            <td *ngFor="let b of baskets"> This is basket ID {{b.basketId}}</td>
        </tr>
        <tr>
            <td *ngFor="let b of baskets">Basket {{b.basketId}} contains {{b.fruitsContained}} fruits.</td>
        </tr>
        <!--Forms will correspond to the baskets / fruits. 
            Might need a template to make it clickable / collapsible too.
            Use the search component, ngcontainer and ngtemplate as a guide. 
            Would use ngIf, a clicked event, and make the drop down if its clicked.
            Put a note inside so that the user knows to click to hide it.-->
        <tr> <!--FIXME: the click works, but it toggles all of them at once. Need it to do only one.-->
            <td *ngFor="let b of baskets"> Fruits in Basket {{b.basketId}}:</td> <!--need a hover here.-->
        </tr>
        <tr> <!--display the fruits here. I think we can pass parameters into functions through the html. look into it.-->
            <td *ngFor = "let f of fruitDisplay">
                <!--need fruits and buttons here in an ngtemplate, inside and ngcontainer-->
                <!--note: brett put a whole other tbody inside.-->
                <!--let's start with adding a button inside to add fruit. then we will add fruit.-->
                <!--Let's not break this again. At least until we have a better idea of what's happening.-->
                <!---the 2 ngContainers didn't realy make a big difference. Maybe we can fix it later? might remove later.-->
                <ng-container *ngFor = "let b of baskets">
                    <ng-container *ngIf = "(b.fruitsContained > 0)">
                        <form class = "fruit-deletion" id = "fruit-selection" #deleteForm = "ngForm" (ngSubmit) = "deleteFruit(deleteForm)">    
                            <tbody> <!--Have an animation control this part.-->
                                
                                <!--need to do ngFor on the rows with the fruits. Let's try adding one. Might put the for in this tbody.-->
                                    <!--might put another TR above this with an NgFor container encapsulating it for the fruit.-->
                                    <!--Rather than having 3 forms, we will input the basket number in as well. Let's have only 1 form.
                                    3 forms is just going to be a nightmare.-->
                                    <!--Think about displaying the fruits as radio buttons for deleting.-->
                                
                                <!--FIXME: might need an ngIf to disable fruit button if there's no fruit in basket.
                                Going to try completely disabling the whole thing if no fruit.-->  
                                <!---ALSO: loads in the wrong column about half the time. Not sure why.
                                Still doesn't work after adding the NgIf.-->      
                                <ng-container *ngFor = "let i of f">         
                                    <tr> <!--f is an array. need to pull out one element of f. need to use b and in index too-->
                                        <!--Works!-->
                                        <!--turn this into a radio button list-->
                                        <!--f is the fruit display object, i is the index-->
                                        <!--{{i.id in the label worked, just for reference.}}-->
                                        <label class = "radio-inline">
                                            <input type = "radio" value = "{{i.id}}" name = "fruitId" ngModel>
                                            {{i.color}} {{i.species}} 
                                        </label>     
                                    </tr>
                                </ng-container>   
                                    <tr>
                                        <td>
                                             <!--Almost have it. Flipping the sign disables all of them.-->
                                            <button [hidden] = "!(f.length > 0)" type = "submit">Remove Fruit</button>
                                        </td>
                                    </tr>
                            </tbody>
                        </form>  
                    </ng-container>    
                </ng-container>
            </td>
        </tr>
        <tr> <!--form for adding / removing fruit and baskets. I think this needs to be a form if things are moving.-->
            <td *ngFor="let b of baskets"> 
                <button (click)="removeBasket(this.b.basketId, this.b.fruitsContained)">Click Here to delete this basket.</button>
            </td>
        </tr>
    </tbody>
</table>

<!--Let's add a form for adding fruits.-->
<h1>Add a new fruit here!</h1>
<h3>Make sure the basket number matches one of the baskets above.</h3>
<div class = "fruitCreation" id = "fruit-form">
    <form class = "container justify-content-center" #fruitForm="ngForm" (ngSubmit)="insertFruit(fruitForm)">
                                <!--This will contain the form data. NOTE: you NEED the ngModel in the input tags.-->
        <input type="text" class="form-control" name = "fruitcolor" id = "fruitColor" placeholder="Color of Fruit" ngModel>
        <input type="text" class="form-control" name = "fruitspecies" id = "fruitSpecies" placeholder="Species of Fruit" ngModel>
        <input type="text" class="form-control" name = "basketnumber" id = "basketNumber" placeholder="Choose a basket number:" ngModel>
        <button type="submit" class="btn btn-primary justify-content-center">Add fruit!</button>
    </form>
</div>

<!--
We also need to add the capacity to create / destroy baskets. (do that below)
The button to destroy will correspond to the basket itself.
Don't forget to add error handling here. dont want too many baskets.
Don't want too few either. do we want to handle this on the back or
the front end?-->

<button (click)="createNewBasket()">Create a New Fruit Basket!</button>
