<p>databasedemo works!</p>


<!--This is where the basket demo will go.
Let's construct a skeleton first.
We will style it once we know that it works and try to create more than one.
We will need to do an onInit that gets all the baskets.
But first we need to delete one of the 4 baskets since we only want 3 maximum.-->

<!--Should we make a new db instance and disable the old one?
might try it. maybe we will do that down the line.-->

<!--Let's create the structure to support 3 different baskets.-->
<!--Plan of action: Unordered list, then size it with a style tag?-->
<!--Try it with a basket first and then expand on it. a little at a time.-->

<!--Might wrap this whole thing up in an Ngcontainer. Need to see what it
and the NgTemplate do first. You need one if you have an ngif inside an ngfor.
The search component on whos in provides an example of a container,
ngif with cases in the if statement and maybe ngswitch.-->

<!--Does an ngtemplate act as a frame and draw a new set of boundary lines in which to render html elements? its possible.
Sort of. You can call it like a variable elsewhere within the DOM. It won't be displayed unless we explicitly call it.-->

<!--FIXME: add something that cues the user into being able to click on and interact with the baskets.-->

<!--I think we need to justmake the whole table ngfor. rather than calling it every time. See if it works. it does.-->
<!--we will need to add event binding / collapsible templates going forward. That ought to work.-->
<table layout="row" layout-fill layout-align="center center"> <!--not centered. not sure why. deal with it later.-->
    <tbody >
        <tr> <!--You needed to iterate the ngFor through the columns each time. It works now.-->
            <td *ngFor="let b of baskets"> This is basket ID {{b.basketId}}</td>
        </tr>
        <tr>
            <td *ngFor="let b of baskets">Basket {{b.basketId}} contains {{b.fruitsContained}} fruits.</td>
        </tr>
        <!--Forms will correspond to the baskets / fruits. 
            Might need a template to make it clickable / collapsible too.
            Use the search component, ngcontainer and ngtemplate as a guide. 
            Would use ngIf, a clicked event, and make the drop down if its clicked.
            Put a note inside so that the user knows to click to hide it.-->
        <tr>
            <td *ngFor="let b of baskets"> Fruits in Basket {{b.basketId}}:</td> <!--need a hover here.-->
        </tr>
        <tr> <!--display the fruits here. I think we can pass parameters into functions through the html. look into it.-->
            <td></td>
        </tr>
        <tr> <!--form for adding / removing fruit and baskets. I think this needs to be a form if things are moving.-->
            <td *ngFor="let b of baskets"> <!--FIXME: object not getting to back end. tried changing variable name in the request model there to make them the same. didnt work.-->
                <button (click)="removeBasket(this.b.basketId, this.b.fruitsContained)">Click Here to delete this basket.</button>
            </td>
        </tr>
    </tbody>
</table>

<!--Let's add a form for adding fruits.
We also need to add the capacity to create / destroy baskets. (do that below)
The button to destroy will correspond to the basket itself.
Don't forget to add error handling here. dont want too many baskets.
Don't want too few either. do we want to handle this on the back or
the front end?-->
<button (click)="createNewBasket()">Create a New Fruit Basket!</button>
