<button (click) = "resetBoard()">Reset Board</button>
<button (click) = "getNeighbors(this.startNode)">Get Neighbors</button>
<button (click) = "depthFirstSearch(this.startNode)">Pathfind!</button>
<button (click) = "breadthFirstSearch(this.startNode)">BFS</button>
<table layout = "row" class = "d-flex container justify-content-center"> 
    <tbody class = "flex-sm-shrink-1">
        <tr *ngFor = "let r of visitedArray; let i = index" class = "flex-sm-shrink-1">
            <td *ngFor = "let c of r; let j = index" class = "flex-sm-shrink-1"
            (mousedown) = "downClickFunction(j,i,colorArray[i][j])"
            (mouseenter) = "mouseEnterFunction(j,i,colorArray[i][j])"
            (mouseup) = "mouseUpFunction()"
            [ngStyle] = "{'background-color': colorArray[i][j]}">
            </td>
        </tr>
    </tbody>
</table>