.visualCol{
    margin-left: 1px;
    margin-right: 1px;
    width: 4px;
    background-color: black;
}

.simulationContainer{
    height: 300px;
    transform: rotate(180deg) scaleX(-1); /*rotates and creates mirror image */
}