.bg{
    background-image: url(/assets/images/home-background.png);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%; /* Need this to cover the whole page. Background size only covers what exists. */
    /*^ this is more effective that using height: 100%. */
    z-index: -1;
}

.visualCol{
    margin-left: 1px;
    margin-right: 1px;
    width: 4px;
    background-color: black;
}

.simulationContainer{
    height: 300px;
    transform: rotate(180deg) scaleX(-1); /*rotates and creates mirror image */
}