<div class = "bg">
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-md navbar-light bg-danger">
        <a class="navbar-brand" href="./">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/app-demopage">Demos <span class="sr-only">(current)</span></a>
            </li>
            </ul>
        </div>
    </nav>
    <form #algoForm = "ngForm" (ngSubmit) = "chooseAlgo(algoForm)">
        <select name = "sortAlgo" ngModel>
            <option value = "bubbleSort">Bubble Sort</option>
            <option value = "selectionSort">Selection Sort</option>
            <option value = "insertionSort">Insertion Sort</option>
            <option value = "shellSort">Shell Sort</option>
            <option value = "quickSort">Quick Sort</option>
            <option value = "mergeSort">Merge Sort</option>
            <option value = "heapSort">Heap Sort</option>
            <option value = "radixSortLSD">Radix Sort LSD</option>
        </select>
        <button type = "submit">Sort!</button>
    </form>

    <button (click) = "randomizeArray()">Randomize Array</button>
    <br>


    <!--the challenge here is updating the DOM / colors in just the right places.-->

    <div class = "row d-flex justify-content-center simulationContainer">
        <div class = "column visualCol" id = "sortCol{{i}}" *ngFor = "let p of pageArray; let i = index" 
        [ngStyle] = "{'height': ((p+1)*2)+'px','background-color': colorArray[i]}"></div>
    </div>
</div>