<button (click) = "randomizeArray(this.pageArray)">Randomize Array</button>
<button (click) = "bubbleSort(this.pageArray)">Bubble Sort</button>
<button (click) = "insertionSort(this.pageArray)">Insertion Sort</button>
<button>Merge Sort</button>
<button>Heap Sort</button>

<!--the challenge here is updating the DOM / colors in just the right places.-->

<div class = "row d-flex justify-content-center simulationContainer">
    <div class = "column visualCol" attr.id = "{{p}}" *ngFor = "let p of pageArray" [ngStyle] = "{'height': p+'px'}"></div>
</div>