<p>home works!</p>
<!--HOME COMPONENT: the landing page of the application.
This will showcase my personal achievements / about me.
Maybe I'll include some fancy animations.
I'll add the navbar component that displays across all the pages.
The navbar will be collapsible. 
First priority is to make the minimum viable product. Then we'll
style it.
Will need to decide on frameworks as well. (going with material)

Navbar will contain the following:
Home
Demonstrations
Project Showcases
CV
Video series

Down the line:
patreon
get connected (on the home page, also email server)
We can fill in the rest as we go.

I think you can layer components on top of one another pretty easily.
You just need to style them so that they all fit together in the same page.

The appcomponent.html has a placeholder. You are supposed to replace that with 
your CVwebsite...or nothing.-->

<!-- Let's just add some buttons for now. So we at least know that everything works.
Functional stuff first.-->

<button> <a href="/app-databasedemo">Database Demonstration</a></button> <!--will transition this to the navbar later-->
<button><a href="/app-trafficsim">Traffic Simulator</a></button>