<div class = "bg">
  <nav class="navbar navbar-expand-md navbar-light bg-danger">
    <a class="navbar-brand" href="./">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/app-databasedemo">Demos <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </div>
  </nav>
<br>
<div class = "d-flex row">
  <div class = "col-lg-auto"> <!--auto is a variable width-->
    <img class = "profPic" src = "/assets/images/personalpicture.jpg">
  </div>
  <div class = "col"> <!--Maybe I'll put a table or a list inside this div? for text formatting?-->
    <h1 class = "headText">Richard Bassin</h1>
    <h4 class = "headText">Differ from the others. Drive the creativity train. Do good every day.</h4>
  </div>
</div>
<br>
    

<!--HOME COMPONENT: the landing page of the application.
This will showcase my personal achievements / about me.
Maybe I'll include some fancy animations.
I'll add the navbar component that displays across all the pages.
The navbar will be collapsible. 
First priority is to make the minimum viable product. Then we'll
style it.
Will need to decide on frameworks as well. (going with material)

Navbar will contain the following:
Home
Demonstrations
Project Showcases
CV
Video series

Down the line:
patreon
get connected (on the home page, also email server)
We can fill in the rest as we go.

I think you can layer components on top of one another pretty easily.
You just need to style them so that they all fit together in the same page.

The appcomponent.html has a placeholder. You are supposed to replace that with 
your CVwebsite...or nothing.-->

<!-- Let's just add some buttons for now. So we at least know that everything works.
Functional stuff first.-->
<!--education, work experience, projects, (inclduing your more recent programming stuff from portfolio)-->
<div class = "jumbotron bg-danger">
  <div class = "col-lg-12">
    <table class = "table table-condensed">
      <thead>
        <tr>
          <th>
          Education
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class = "col">
              <b>University of California, Davis</b>
              <p>B.S. in Biomedical Engineering</p>
            </div>
          </td>
          <td>
            <div class = "col">
              <p class = "text-right">Davis, CA</p>
              <p class = "text-right">June 2017</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>  
  </div>

  <div class = "col-lg-12">
    <table class = "table table-condensed">
      <thead>
        <tr>
          <th>
          Employment
          </th>
          <th> <!--This is only a placeholder so the styling works as intended.-->
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class = "col">
              <b>Revature</b>
              <p>Software Engineer in Test</p>
              <ul>
                <li>Wrote full stack web applications with a Java back end and a PostGreSQL database.</li>
                <li>Incorporated the JUnit, TestNG and Selenium Frameworks to automate testing.</li>
                <li>Designed robust, interactive webpages with the Bootstrap and the Spring framework.</li>
              </ul>
            </div>
          </td>
          <td>
            <div class = "col">
              <p class = "text-right">Arlington, TX</p>
              <p class = "text-right">August 2019 - Present</p>
            </div>
          </td>
        </tr>        
        <tr>
          <td>
            <div class = "col">
              <b>Tarantino Properties</b>
              <p>Leasing Consultant</p>
              <ul>
                <li>Managed service requests, maintained documentation and enforced community policies on site.</li>
                <li>Marketed, toured and sold housing to prospective tenants.</li>
              </ul>
            </div>
          </td>
          <td>
            <div class = "col">
              <p class = "text-right">Houston, TX</p>
              <p class = "text-right">July 2018 - May 2019</p>
            </div> 
          </td>
        </tr>
      </tbody>
    </table>  
  </div>

  <div class = "col-lg-12">
    <table class = "table table-condensed">
      <thead>
        <tr>
          <th>
          Projects
          </th>
          <th> <!--This is only a placeholder so the styling works as intended.-->
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class = "col">
              <b>Insulin Dose Tracker</b>
              <ul>
                <li>Designed a device to automatically log doses from insulin pens for diabetic patients.</li>
                <li>Created and documented an algorithm for a microcontroller and performed troubleshooting and quality assurance operations to ensure the product met the client’s needs.</li>
                <li>Conducted a relevant standards and regulations search through the FDA and ISO in order to ensure Good Manufacturing Practices and adhere to internationally recognized medical device standards.</li>
              </ul>
            </div>
          </td>
          <td>
            <div class = "col">
            </div>
          </td>
        </tr>        
        <tr>
          <td>
            <div class = "col">
              <b>Tarantino Properties</b>
              <p>Leasing Consultant</p>
              <ul>
                <li>Managed service requests, maintained documentation and enforced community policies on site.</li>
                <li>Marketed, toured and sold housing to prospective tenants.</li>
              </ul>
            </div>
          </td>
          <td>
            <div class = "col">
            </div> 
          </td>
        </tr>
      </tbody>
    </table>  
  </div>

 
  
</div>
<button> <a href="/app-databasedemo">Database Demonstration</a></button> <!--will transition this to the navbar later-->
<button><a href="/app-trafficsim">Traffic Simulator</a></button>
</div>